name: Lint

on: pull_request

permissions:
  contents: read

jobs:
  lint:
    name: Terraform # All downstream jobs are nested within this job in the GitHub UI.
    uses: 'craigsloggett-lab/.github/workflows/lint-terraform.yml@main'
