name: Update

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-setup-go:
    name: Update Go Version
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Get Go Versions
      id: go
      env:
        WORKFLOW_FILE: .github/workflows/lint.yml
      run: |-
        # Get the configured version number in the `actions/setup-go` step.
        configured_version="$(
          sed -n 's/^[[:space:]]*go-version:[[:space:]]*//p' "${WORKFLOW_FILE}" \
          | head -n 1 \
          | tr -d '[:space:]'
        )"
        # Get the latest version released.
        latest_version="$(
          curl -fsSL "https://go.dev/VERSION?m=text" \
          | sed 's/^go//'
        )"
        printf '%s\n' "${configured_version}"
        printf '%s\n' "${latest_version}"
        echo "configured_version=${configured_version}" >> "${GITHUB_OUTPUT}"
        echo "latest_version=${latest_version}" >> "${GITHUB_OUTPUT}"
    - name: Open a Pull Request
      run: |-
        # Open a "Dependabot style" Pull Request against this repository if
        # there is a delta between "as configured" and "latest".
  update-actionlint:
    name: Update actionlint
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Get Configured Version
      run: |-
        # Get the configured commit SHA in the `Install actionlint` step.
    - name: Get Latest Version
      run: |-
        # Get the latest version released.
    - name: Open a Pull Request
      run: |-
        # Open a "Dependabot style" Pull Request against this repository if
        # there is a delta between "as configured" and "latest".
